<div class="home-container">

  <app-random-images></app-random-images><br><br>

  <h1>Bienvenido a la app de Cocteles</h1>
  
  <!-- Descripción de la app -->
  <div class="description">
    <p>Nuestra aplicación es una herramienta práctica y divertida para descubrir una amplia variedad de cocteles. Aquí podrás:</p>
    <ul>
      <li><strong>Buscar Cocteles:</strong> Encuentra tus cocteles favoritos por nombre, ingrediente o categoría.</li>
      <li><strong>Favoritos:</strong> Guarda tus cocteles preferidos en un solo lugar para acceder a ellos rápidamente en cualquier momento.</li>
      <li><strong>Imágenes Aleatorias de Cocteles:</strong> Explora nuevas ideas para cocteles con nuestra sección de imágenes aleatorias, que se actualizan con solo un clic. ¡Nunca sabes qué coctel será el próximo!</li>
    </ul>
    <p>La app está diseñada para ser fácil de usar, intuitiva y rápida. ¡Perfecta para cualquier amante de los cocteles!</p>
  </div>
</div>
<br><br><br>